
.ipynb_checkpoints/Untitled1-checkpoint.ipynb
.ipynb_checkpoints/DH_kurs BBI-checkpoint.ipynb
.ipynb_checkpoints/Kurstavle-checkpoint.ipynb
.ipynb_checkpoints/Kurstavle-Copy1-checkpoint.ipynb
__pycache__/wordbank.cpython-37.pyc
